body {
  text-align: center;
  background-color: #141408;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #e9dbd0;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: rgb(233, 41, 41);
  opacity: 0.8;
}

.red {
  background-color: rgb(146, 44, 44);
}

.green {
  background-color: rgb(81, 131, 81);
}

.blue {
  background-color: rgb(96, 149, 209);
}

.yellow {
  background-color: rgb(219, 219, 40);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
